html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #F5FAF5;
    background: url('../img/circles-light.png');
}

body::after {
    content: '';
    display: block;
    height: 3.5rem;
}

header {
    background: #1F4121;
    width: 100%;
    display: flex;
    flex-direction: row;
	height: 4.5rem;
}

header h1 { 
    margin: 0;
    font-size: 3rem;
    padding: 0.3rem 1.5rem 0.8rem 1rem;
}

header h1 a {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #F5FAF5;
	text-decoration: none;
}

header ul {
    position: absolute;
    right: 0;
    margin-top: 1.7rem;
}

header ul li{
    list-style-type: none;
}

header ul li {
    display: inline-block;
    color: #F5FAF5;
    font-family: 'Dosis', sans-serif;
}

header ul li a {
    color: #F5FAF5;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.15rem;
    font-weight: bold;
}

header nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main h3 {
    font-size: 2rem;
    text-align: center;
    color: #0F120D;
    margin-top: 2rem;
    font-family: 'Dosis', sans-serif;
}

main.sign-in, main.sign-up, main.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div .forgotPassword {
    float: left;
}

div .forgotPassword a {
    color: #F5FAF5;
}

.form {
    text-align: center;
    background: #1F4121;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    box-shadow: 0 0.3rem 0.2rem grey;
}

.form button {
    box-shadow: 0 0 0;
}

.form p a {
    color: #F5FAF5;
}

.form label {
    display: block;
    margin-bottom: 0.2rem;
    text-align: left;
}

.form input {
    display: block;
    width: 13rem;
    margin-bottom: 0.2rem;
    height: 1.5rem;
    border: 2px solid #2B5A2D;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.form button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: #1F4121;
    border: 2px solid #2B5A2D;
    border-radius: 0.5rem;
}

.form button:hover {
    cursor: pointer;
} 

#reset form {
    text-align: center;
    color: #0F120D;
    padding-left: 1rem;
}

#reset form input {
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
}

#reset form button {
    height: 2.2rem;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: #0F120D;
    color: #F5FAF5;
}

#reset form button:hover {
    cursor: pointer;
}

#reset p {
    color: #B31A1A;
}

.register, .profile h3 {
    margin-top: 2rem;
    text-align: left;
    padding-left: 1rem;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.register form select, button {
    width: 15rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #0F120D;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem grey;
}

.register form button {
    background: #0F120D;
    color: #F5FAF5;
}

.register form button:hover {
    cursor: pointer;
}

.profile {
    color: #0F120D;
    text-align: center;
    margin-bottom: 8rem;
}

.profile h3 {
	margin-bottom: 1rem;
	text-decoration: underline;
}

.profile p {
	text-align: left;
	padding-left: 1rem;
	font-weight: bold;
}

.profile h4 {
    text-decoration: underline;
}

.profile table {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
    margin: 0 auto;
}

#resetLink {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#resetLink a {
    color: #0F120D;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #0F120D;
}

#userHome {
	margin-top: 1rem;
    margin-bottom: 2rem;
	position: absolute;
	left: 0;
}

#userHome p {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
    color: #0F120D;
}

section article .partyTable {
	margin-top: 3rem;
}

section article hr {
	color: #0F120D;
}

#userHome p a {
    color: #1F4121;
}

.electionResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0F120D;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section article form {
    background: #BDD0C5;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 18rem;
    width: 16rem;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.2rem grey;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

section article h3 {
    color: #1F4121;
    text-decoration: underline;
	margin-bottom: 3rem;
}

section article form h3 {
    text-align: center;
    color: #0F120D;
    text-decoration: none;
}

section article h4 {
    font-family: 'Dosis', sans-serif;
}

section article form select, button, input {
    width: 15rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #0F120D;
    border-radius: 0.5rem;
}

section article form button {
    background: #0F120D;
    color: #F5FAF5;
}

section article form button.createButton {
	margin-top: 0.8rem;
	height: 1.7rem;
}

section article form button:hover {
    cursor: pointer;
}

section article .caption {
    color: #1F4121;
    text-decoration: underline;
    font-size: 2rem;
}

label.filter {
	font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

label.filter input {
    height: 1.3rem;
    width: 3rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
	border: 1px solid #1F4121;
	border-radius: 0.3rem;
}

label.filter button {
    height: 1.5rem;
    width: 6rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
	border: 1px solid #1F4121;
    border-radius: 0.3rem;
    background: black;
    color: white;
    cursor: pointer;
}

label.filter select {
    margin-left: 1rem;
    width: 7.5rem;
    height: 1.5rem;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 0.3rem;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 95%;
    margin-bottom: 5rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #DBE6DF;
}

table tr td img {
	border: 2px solid #0F120D;
	border-radius: 0.2rem;
}

section article table tr td button {
    background: #0F120D;
    color: #F5FAF5;
    width: 5rem;
    margin-top: 0.3rem;
}

section article table tr td button:hover {
    cursor: pointer;
}

.landingPage {
    background: url('../img/nigeria-elections.jpg');
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.overlay h3 {
    color: #F5FAF5;
    padding-top: 15%;
}
    
.overlay nav ul li button {
    width: 7rem;
	padding: 0;
    margin-right: 1rem;
    box-shadow: 0 0 0;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.overlay header nav ul li button a {
	color: #0F120D;
	font-size: 1rem;
	padding: 0;
}

.overlay nav ul li button:hover {
    cursor: pointer;
}

.overlay nav ul li button a:hover {
	text-decoration: none;
}

.overlay div {
    text-align: center;
    padding-bottom: 5rem;
}

.overlay footer {
    color: #F5FAF5;
    border-top: 1px solid #F5FAF5;
}

.overlay button {
    width: 7rem;
    margin-right: 1rem;
    box-shadow: 0 0 0;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.overlay button:hover {
    cursor: pointer;
}

button a {
	color: #0F120D;
	text-decoration: none;
	padding: 1.5rem;
}

main form button a {
	color: #0F120D;
}

.pagination {
	display: block;
	margin-bottom: 5rem;
}

.pagination a {
	color: #0F120D;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3rem;
}

.pagination a.active {
	background: grey;
	border-radius: 0.2rem;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4.5rem;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    border-top: 1px solid #1F4121;
    width: 85%;
    color: #0F120D;
    text-align: center;
}

.dropdown {
	display: inline-block;
	position: absolute;
	right: 3%;
	padding: 1.7rem;
	padding-right: 1rem;
	width: 8rem;
}

.dropdown a {
	color: #F5FAF5;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.dropdownSecondary {
	background: #DBE6DF;
	z-index: 5;
	border-radius: 0.2rem;
}

.dropdownSecondary a {
	display: block;
	color: #0F120D;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem;
	text-decoration: none;
}

.dropdownPrimary span {
    font-size: 0.8rem;
}

.hidden {
  display: none;
}

.alert {
  font-weight: bold;
  background: red;
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
}

.alert span {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 3rem;
  cursor: pointer;
}

.adminAlert {
    height: 1rem;
    padding: 0.5rem;
    color: red;
    font-weight: bold;
}

.editPartyForm {
    height: 3rem;
}

.editPartyForm .edit {
    border: 1px solid black;
    border-radius: 0;
    height: 1.75rem;
}

.editButton {
    border: 1px solid black;
    border-radius: 0;
    width: 5rem;
    cursor: pointer;
}

.editInfo {
    color: red;
}

.voteButton {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    background: black;
}

.voteButton:hover {
    cursor: pointer;
}

.profilePicture img {
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

/* for tablet and desktop */
@media only screen and (min-width: 767px) {
    
    .sign-up .form {
        max-width: 55rem;
        width: 40%;
        margin: 0 auto;
        padding: 4rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .sign-up form input {
        width: 90%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    section article form {
        margin-right: 5rem;
    }
    
    header ul li a {
        padding-right: 2rem;
    }
    
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    table {
        width: 40rem;
    }
}