html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #F5FAF5;
    background: url('../img/circles-light.png');
}

body::after {
    content: '';
    display: block;
    height: 3.5rem;
}

header {
    background: #1F4121;
    width: 100%;
    display: flex;
    flex-direction: row;
}

header h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0;
    font-size: 3rem;
    padding: 0.3rem 1.5rem 0.8rem 1rem;
}

header ul {
    position: absolute;
    right: 0;
    margin-top: 1.7rem;
}

header ul li{
    list-style-type: none;
}

header ul li {
    display: inline-block;
    color: #F5FAF5;
    font-family: 'Dosis', sans-serif;
}

header ul li a {
    color: #F5FAF5;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.15rem;
    font-weight: bold;
}

header nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main h3 {
    font-size: 2rem;
    text-align: center;
    color: #0F120D;
    margin-top: 5rem;
    font-family: 'Dosis', sans-serif;
}

main.sign-in, main.sign-up, main.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    background: #1F4121;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.form p a {
    color: #F5FAF5;
}

.form label {
    display: block;
    margin-bottom: 0.2rem;
    text-align: left;
}

.form input {
    display: block;
    width: 13rem;
    margin-bottom: 0.2rem;
    height: 1.5rem;
    border: 2px solid #2B5A2D;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.form button {
    width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: #1F4121;
    border: 2px solid #2B5A2D;
    border-radius: 0.5rem;
}

.form button:hover {
    cursor: pointer;
}

.reset .form {
    background: none;
    color: #0F120D;
}

.reset .form input {
    border: 0;
    border-bottom: 2px solid black;
    border-radius: 0;
    background: none;
}

.reset .form button {
    background: #1F4121;
    color: #F5FAF5;
}

.register, .profile h3 {
    margin-top: 2rem;
    text-align: left;
    padding-left: 1rem;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.register form select, button {
    width: 15rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #0F120D;
    border-radius: 0.5rem;
}

.register form button {
    background: #0F120D;
    color: #F5FAF5;
}

.profile {
    color: #0F120D;
}

.profile p {
    padding-left: 1rem;
}

#resetLink {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#resetLink a {
    color: #0F120D;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #0F120D;
}

#userHome p {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
    color: #0F120D;
}

#userHome p a {
    color: #0F120D;
}

section article form {
    background: #BDD0C5;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 20rem;
    width: 16rem;
    margin: 1rem;
}

section article form select, button, input {
    width: 15rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #0F120D;
    border-radius: 0.5rem;
}

section article form button {
    background: #0F120D;
    color: #F5FAF5;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4.5rem;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    border-top: 1px solid #1F4121;
    width: 85%;
    color: #0F120D;
    text-align: center;
}

/* for tablet and desktop */
@media only screen and (min-width: 767px) {
    
    .sign-up .form {
        max-width: 55rem;
        width: 70%;
        margin: 0 auto;
        padding: 4rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .sign-up form input {
        width: 90%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    } 
    
    header ul li a {
        padding-right: 2rem;
    }
    
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}